Repository Mu-necting/Mu-necting_Server, pull requests merged in 2023-08, with the labels that each got.

#6 [Feat]-픽 상세 조회#5
  build.gradle
  src/main/java/com/munecting/server/domain/archive/controller/ArchiveController.java
  src/main/java/com/munecting/server/domain/archive/dto/get/ArchivePlusRes.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepository.java
  src/main/java/com/munecting/server/domain/archive/service/ArchiveService.java
  src/main/java/com/munecting/server/domain/member/repository/MemberRepository.java
  src/main/java/com/munecting/server/domain/music/repository/MusicRepository.java
Labels: domain : archive

#15 [FEAT]2차 엔터티 구현
  build.gradle
  src/main/java/com/munecting/server/ServerApplication.java
  src/main/java/com/munecting/server/domain/BaseEntity.java
  src/main/java/com/munecting/server/domain/archive/controller/ArchiveController.java
  src/main/java/com/munecting/server/domain/archive/dto/get/ArchivePlusRes.java
  src/main/java/com/munecting/server/domain/archive/dto/post/UploadArchiveReq.java
  src/main/java/com/munecting/server/domain/archive/entity/Archive.java
  src/main/java/com/munecting/server/domain/archive/entity/HashTag.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepository.java
  src/main/java/com/munecting/server/domain/archive/service/ArchiveService.java
  src/main/java/com/munecting/server/domain/member/entity/Genre.java
  src/main/java/com/munecting/server/domain/member/entity/Member.java
  src/main/java/com/munecting/server/domain/member/repository/MemberRepository.java
  src/main/java/com/munecting/server/domain/music/controller/MusicController.java
  src/main/java/com/munecting/server/domain/music/dto/get/MusicSSearchRes.java
  src/main/java/com/munecting/server/domain/music/dto/get/MusicSearchRes.java
  src/main/java/com/munecting/server/domain/music/dto/post/UploadMusicReq.java
  src/main/java/com/munecting/server/domain/music/entity/Music.java
  src/main/java/com/munecting/server/domain/music/repository/MusicRepository.java
  src/main/java/com/munecting/server/domain/music/service/MusicService.java
  src/main/java/com/munecting/server/domain/pick/entity/Pick.java
  src/main/java/com/munecting/server/domain/reply/entity/Reply.java
  src/main/java/com/munecting/server/global/utils/spotify/TokenSpotify.java
Labels: Entity

#22 [FEAT] 아카이브 업로드 #17
  src/main/java/com/munecting/server/domain/archive/entity/Archive.java
  src/main/java/com/munecting/server/domain/member/repository/MemberRepository.java
  src/main/java/com/munecting/server/domain/music/controller/MusicController.java
  src/main/java/com/munecting/server/domain/music/dto/get/MusicSSearchRes.java
  src/main/java/com/munecting/server/domain/music/dto/get/MusicSearchPageRes.java
  src/main/java/com/munecting/server/domain/music/dto/get/MusicSearchRes.java
  src/main/java/com/munecting/server/domain/music/dto/post/UploadMusicReq.java
  src/main/java/com/munecting/server/domain/music/entity/Music.java
  src/main/java/com/munecting/server/domain/music/repository/MusicRepository.java
  src/main/java/com/munecting/server/domain/music/service/MusicService.java
Labels: domain : music

#23 [FEAT] 주변에 있는 아카이브 조회 #7
  src/main/java/com/munecting/server/domain/archive/controller/ArchiveController.java
  src/main/java/com/munecting/server/domain/archive/dto/get/ArchiveRes.java
  src/main/java/com/munecting/server/domain/archive/entity/Archive.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepository.java
  src/main/java/com/munecting/server/domain/archive/service/ArchiveService.java
Labels: domain : archive

#29 [FEAT] Member 구현 #24
  build.gradle
  src/main/java/com/munecting/server/domain/member/DTO/MemberDTO.java
  src/main/java/com/munecting/server/domain/member/entity/Genre.java
  src/main/java/com/munecting/server/domain/member/entity/Member.java
  src/main/java/com/munecting/server/domain/member/repository/MemberRepository.java
Labels: domain : member, Entity

#36 [FEAT] 보안 설정 #32 #24
  .gitignore
  build.gradle
  src/main/java/com/munecting/server/domain/member/entity/Genre.java
  src/main/java/com/munecting/server/domain/member/entity/Member.java
  src/main/java/com/munecting/server/global/config/secure/SecurityConfig.java
  src/test/java/com/munecting/server/domain/archive/entity/ArchiveTest.java
  src/test/java/com/munecting/server/domain/member/repository/MemberRepositoryTest.java
Labels: Entity, global: secure

#38 [FEAT] 아카이브 업로드 #17
  .gitignore
  build.gradle
  src/main/java/com/munecting/server/domain/archive/controller/ArchiveController.java
  src/main/java/com/munecting/server/domain/archive/dto/get/ArchiveRes.java
  src/main/java/com/munecting/server/domain/archive/dto/post/UploadArchiveReq.java
  src/main/java/com/munecting/server/domain/archive/entity/Archive.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepository.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryCustom.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryImpl.java
  src/main/java/com/munecting/server/domain/archive/service/ArchiveService.java
  src/main/java/com/munecting/server/domain/member/entity/Genre.java
  src/main/java/com/munecting/server/domain/member/entity/Member.java
  src/main/java/com/munecting/server/domain/music/controller/MusicController.java
  src/main/java/com/munecting/server/domain/music/dto/post/UploadMusicReq.java
  src/main/java/com/munecting/server/domain/music/repository/MusicRepository.java
  src/main/java/com/munecting/server/domain/music/service/MusicService.java
  src/main/java/com/munecting/server/global/config/secure/SecurityConfig.java
  src/test/java/com/munecting/server/domain/archive/entity/ArchiveTest.java
  src/test/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryImplTest.java
  src/test/java/com/munecting/server/domain/archive/service/ArchiveServiceTest.java
  src/test/java/com/munecting/server/domain/member/repository/MemberRepositoryTest.java
Labels: domain : music, domain : archive

#40 [REFACTOR] 주변 아카이브 조회 #39
  .gitignore
  build.gradle
  src/main/java/com/munecting/server/domain/archive/controller/ArchiveController.java
  src/main/java/com/munecting/server/domain/archive/dto/get/ArchivePlusRes.java
  src/main/java/com/munecting/server/domain/archive/dto/get/ArchiveRes.java
  src/main/java/com/munecting/server/domain/archive/dto/post/UploadArchiveReq.java
  src/main/java/com/munecting/server/domain/archive/entity/Archive.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepository.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryCustom.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryImpl.java
  src/main/java/com/munecting/server/domain/archive/service/ArchiveService.java
  src/main/java/com/munecting/server/domain/member/entity/Genre.java
  src/main/java/com/munecting/server/domain/member/entity/Member.java
  src/main/java/com/munecting/server/domain/music/controller/MusicController.java
  src/main/java/com/munecting/server/domain/music/dto/post/UploadMusicReq.java
  src/main/java/com/munecting/server/domain/music/repository/MusicRepository.java
  src/main/java/com/munecting/server/domain/music/service/MusicService.java
  src/main/java/com/munecting/server/global/config/secure/SecurityConfig.java
  src/test/java/com/munecting/server/domain/archive/entity/ArchiveTest.java
  src/test/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryImplTest.java
  src/test/java/com/munecting/server/domain/archive/service/ArchiveServiceTest.java
  src/test/java/com/munecting/server/domain/member/repository/MemberRepositoryTest.java
Labels: domain : archive

#42 [FEAT] 픽 저장 #41
  .gitignore
  build.gradle
  src/main/java/com/munecting/server/domain/archive/controller/ArchiveController.java
  src/main/java/com/munecting/server/domain/archive/dto/get/ArchivePlusRes.java
  src/main/java/com/munecting/server/domain/archive/dto/get/ArchiveRes.java
  src/main/java/com/munecting/server/domain/archive/dto/post/UploadArchiveReq.java
  src/main/java/com/munecting/server/domain/archive/entity/Archive.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepository.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryCustom.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryImpl.java
  src/main/java/com/munecting/server/domain/archive/service/ArchiveService.java
  src/main/java/com/munecting/server/domain/member/entity/Genre.java
  src/main/java/com/munecting/server/domain/member/entity/Member.java
  src/main/java/com/munecting/server/domain/music/controller/MusicController.java
  src/main/java/com/munecting/server/domain/music/dto/post/UploadMusicReq.java
  src/main/java/com/munecting/server/domain/music/repository/MusicRepository.java
  src/main/java/com/munecting/server/domain/music/service/MusicService.java
  src/main/java/com/munecting/server/domain/pick/controller/PickController.java
  src/main/java/com/munecting/server/domain/pick/dto/post/PickReq.java
  src/main/java/com/munecting/server/domain/pick/entity/Pick.java
  src/main/java/com/munecting/server/domain/pick/repository/PickRepository.java
  src/main/java/com/munecting/server/domain/pick/service/PickService.java
  src/main/java/com/munecting/server/global/config/secure/SecurityConfig.java
  src/test/java/com/munecting/server/domain/archive/entity/ArchiveTest.java
  src/test/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryImplTest.java
  src/test/java/com/munecting/server/domain/archive/service/ArchiveServiceTest.java
  src/test/java/com/munecting/server/domain/member/repository/MemberRepositoryTest.java
  src/test/java/com/munecting/server/domain/pick/repository/PickRepositoryTest.java
  src/test/java/com/munecting/server/domain/pick/service/PickServiceTest.java
Labels: domain : pick

#43 [FEAT] My pick 다건 조회 #8
  .gitignore
  build.gradle
  src/main/java/com/munecting/server/domain/archive/controller/ArchiveController.java
  src/main/java/com/munecting/server/domain/archive/dto/get/ArchivePlusRes.java
  src/main/java/com/munecting/server/domain/archive/dto/get/ArchiveRes.java
  src/main/java/com/munecting/server/domain/archive/dto/post/UploadArchiveReq.java
  src/main/java/com/munecting/server/domain/archive/entity/Archive.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepository.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryCustom.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryImpl.java
  src/main/java/com/munecting/server/domain/archive/service/ArchiveService.java
  src/main/java/com/munecting/server/domain/member/entity/Genre.java
  src/main/java/com/munecting/server/domain/member/entity/Member.java
  src/main/java/com/munecting/server/domain/music/controller/MusicController.java
  src/main/java/com/munecting/server/domain/music/dto/post/UploadMusicReq.java
  src/main/java/com/munecting/server/domain/music/entity/Music.java
  src/main/java/com/munecting/server/domain/music/repository/MusicRepository.java
  src/main/java/com/munecting/server/domain/music/service/MusicService.java
  src/main/java/com/munecting/server/domain/pick/controller/PickController.java
  src/main/java/com/munecting/server/domain/pick/dto/get/PicksPageRes.java
  src/main/java/com/munecting/server/domain/pick/dto/get/PicksRes.java
  src/main/java/com/munecting/server/domain/pick/dto/post/PickReq.java
  src/main/java/com/munecting/server/domain/pick/entity/Pick.java
  src/main/java/com/munecting/server/domain/pick/repository/PickRepository.java
  src/main/java/com/munecting/server/domain/pick/repository/PickRepositoryCustom.java
  src/main/java/com/munecting/server/domain/pick/repository/PickRepositoryImpl.java
  src/main/java/com/munecting/server/domain/pick/service/PickService.java
  src/main/java/com/munecting/server/global/config/secure/SecurityConfig.java
  src/test/java/com/munecting/server/domain/archive/entity/ArchiveTest.java
  src/test/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryImplTest.java
  src/test/java/com/munecting/server/domain/archive/service/ArchiveServiceTest.java
  src/test/java/com/munecting/server/domain/member/repository/MemberRepositoryTest.java
  src/test/java/com/munecting/server/domain/pick/repository/PickRepositoryTest.java
  src/test/java/com/munecting/server/domain/pick/service/PickServiceTest.java
Labels: domain : pick

#44 [FEAT] 아카이브 다건 조회 #9
  .gitignore
  build.gradle
  src/main/java/com/munecting/server/domain/archive/controller/ArchiveController.java
  src/main/java/com/munecting/server/domain/archive/dto/get/ArchivePlusRes.java
  src/main/java/com/munecting/server/domain/archive/dto/get/ArchiveRes.java
  src/main/java/com/munecting/server/domain/archive/dto/get/MyArchivePageRes.java
  src/main/java/com/munecting/server/domain/archive/dto/get/MyArchivesRes.java
  src/main/java/com/munecting/server/domain/archive/dto/post/UploadArchiveReq.java
  src/main/java/com/munecting/server/domain/archive/entity/Archive.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepository.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryCustom.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryImpl.java
  src/main/java/com/munecting/server/domain/archive/service/ArchiveService.java
  src/main/java/com/munecting/server/domain/member/entity/Genre.java
  src/main/java/com/munecting/server/domain/member/entity/Member.java
  src/main/java/com/munecting/server/domain/music/controller/MusicController.java
  src/main/java/com/munecting/server/domain/music/dto/post/UploadMusicReq.java
  src/main/java/com/munecting/server/domain/music/entity/Music.java
  src/main/java/com/munecting/server/domain/music/repository/MusicRepository.java
  src/main/java/com/munecting/server/domain/music/service/MusicService.java
  src/main/java/com/munecting/server/domain/pick/controller/PickController.java
  src/main/java/com/munecting/server/domain/pick/dto/get/PicksPageRes.java
  src/main/java/com/munecting/server/domain/pick/dto/get/PicksRes.java
  src/main/java/com/munecting/server/domain/pick/dto/post/PickReq.java
  src/main/java/com/munecting/server/domain/pick/entity/Pick.java
  src/main/java/com/munecting/server/domain/pick/repository/PickRepository.java
  src/main/java/com/munecting/server/domain/pick/repository/PickRepositoryCustom.java
  src/main/java/com/munecting/server/domain/pick/repository/PickRepositoryImpl.java
  src/main/java/com/munecting/server/domain/pick/service/PickService.java
  src/main/java/com/munecting/server/global/config/secure/SecurityConfig.java
  src/test/java/com/munecting/server/domain/archive/entity/ArchiveTest.java
  src/test/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryImplTest.java
  src/test/java/com/munecting/server/domain/archive/service/ArchiveServiceTest.java
  src/test/java/com/munecting/server/domain/member/repository/MemberRepositoryTest.java
  src/test/java/com/munecting/server/domain/pick/repository/PickRepositoryTest.java
  src/test/java/com/munecting/server/domain/pick/service/PickServiceTest.java
Labels: domain : archive

#49 [REFACTOR] spotify accessToken 숨기기 #46
  src/main/java/com/munecting/server/domain/music/service/MusicService.java
  src/main/java/com/munecting/server/global/utils/spotify/TokenSpotify.java
Labels: global : util

#50 [FEAT] 3차 엔터티 수정 #3
  src/main/java/com/munecting/server/domain/archive/entity/Archive.java
  src/main/java/com/munecting/server/domain/member/DTO/MemberDTO.java
  src/main/java/com/munecting/server/domain/member/entity/Member.java
  src/main/java/com/munecting/server/domain/music/service/MusicService.java
  src/main/java/com/munecting/server/global/utils/spotify/TokenSpotify.java
Labels: Entity

#58 [FEAT] member#57
  build.gradle
  src/main/java/com/munecting/server/domain/member/DTO/ChangePwInfo.java
  src/main/java/com/munecting/server/domain/member/DTO/MemberDTO.java
  src/main/java/com/munecting/server/domain/member/DTO/SimpleAccountInfo.java
  src/main/java/com/munecting/server/domain/member/DTO/TokenDTO.java
  src/main/java/com/munecting/server/domain/member/DTO/VerifyDTO.java
  src/main/java/com/munecting/server/domain/member/controller/LoginController.java
  src/main/java/com/munecting/server/domain/member/controller/MemberController.java
  src/main/java/com/munecting/server/domain/member/controller/SocialLoginController.java
  src/main/java/com/munecting/server/domain/member/entity/Member.java
  src/main/java/com/munecting/server/domain/member/entity/OAuthToken.java
  src/main/java/com/munecting/server/domain/member/service/LoginService.java
  src/main/java/com/munecting/server/domain/member/service/MemberService.java
  src/main/java/com/munecting/server/domain/member/service/SocialLoginService.java
  src/main/java/com/munecting/server/global/config/secure/JWT/JwtAuthenticationFilter.java
  src/main/java/com/munecting/server/global/config/secure/JWT/JwtTokenProvider.java
  src/main/java/com/munecting/server/global/config/secure/Redis/RedisRepositoryConfig.java
  src/main/java/com/munecting/server/global/config/secure/Redis/TokenType.java
  src/main/java/com/munecting/server/global/config/secure/SocialConfig/CustomUserDetailService.java
  src/main/java/com/munecting/server/global/config/secure/SocialConfig/OAuth2AuthenticationSuccessHandler.java
  src/main/java/com/munecting/server/global/config/secure/SocialConfig/RoleType.java
  src/main/java/com/munecting/server/global/config/secure/SocialConfig/UserOAuth2Service.java
  src/main/java/com/munecting/server/global/config/secure/WebConfig/EmailConfig.java
  src/main/java/com/munecting/server/global/config/secure/WebConfig/WebConfig.java
  src/main/java/com/munecting/server/global/config/secure/WebConfig/WebSecurityConfig.java
Labels: domain : member, Entity

#59 [FEAT] 프로필 이미지 업로드 #52
  .github/workflows/gradle.yml
  .github/workflows/main.yml
  build.gradle
  src/main/java/com/munecting/server/domain/archive/dto/get/ArchiveDetailRes.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryCustom.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryImpl.java
  src/main/java/com/munecting/server/domain/archive/service/ArchiveService.java
  src/main/java/com/munecting/server/domain/member/DTO/get/MemberRankRes.java
  src/main/java/com/munecting/server/domain/member/controller/MemberController.java
  src/main/java/com/munecting/server/domain/member/repository/MemberRepository.java
  src/main/java/com/munecting/server/domain/member/repository/MemberRepositoryCustom.java
  src/main/java/com/munecting/server/domain/member/repository/MemberRepositoryImpl.java
  src/main/java/com/munecting/server/domain/member/service/MemberService.java
  src/main/java/com/munecting/server/global/utils/S3Storage/Image.java
  src/main/java/com/munecting/server/global/utils/S3Storage/S3Config.java
  src/main/java/com/munecting/server/global/utils/S3Storage/S3Uploader.java
  src/main/java/com/munecting/server/global/utils/S3Storage/UploadImageS3.java
  src/test/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryImplTest.java
  src/test/java/com/munecting/server/domain/member/repository/MemberRepositoryTest.java
Labels: domain : member, release

#60 [FEAT] 뮤넥팅 랭킹 조회 #54
  src/main/java/com/munecting/server/domain/member/DTO/get/MemberRankRes.java
  src/main/java/com/munecting/server/domain/member/controller/MemberController.java
  src/main/java/com/munecting/server/domain/member/entity/Member.java
  src/main/java/com/munecting/server/domain/member/repository/MemberRepositoryCustom.java
  src/main/java/com/munecting/server/domain/member/repository/MemberRepositoryImpl.java
  src/main/java/com/munecting/server/domain/member/service/MemberService.java
  src/test/java/com/munecting/server/domain/member/repository/MemberRepositoryTest.java
  src/test/java/com/munecting/server/domain/member/service/MemberServiceTest.java
Labels: domain : member

#61 [FEAT] 픽 상세 조회 #5
  src/main/java/com/munecting/server/domain/member/DTO/get/MemberRankRes.java
  src/main/java/com/munecting/server/domain/member/controller/MemberController.java
  src/main/java/com/munecting/server/domain/member/entity/Member.java
  src/main/java/com/munecting/server/domain/member/repository/MemberRepositoryCustom.java
  src/main/java/com/munecting/server/domain/member/repository/MemberRepositoryImpl.java
  src/main/java/com/munecting/server/domain/member/service/MemberService.java
  src/main/java/com/munecting/server/domain/pick/controller/PickController.java
  src/main/java/com/munecting/server/domain/pick/dto/get/PickDetailRes.java
  src/main/java/com/munecting/server/domain/pick/repository/PickRepositoryCustom.java
  src/main/java/com/munecting/server/domain/pick/repository/PickRepositoryImpl.java
  src/main/java/com/munecting/server/domain/pick/service/PickService.java
  src/test/java/com/munecting/server/domain/member/repository/MemberRepositoryTest.java
  src/test/java/com/munecting/server/domain/member/service/MemberServiceTest.java
  src/test/java/com/munecting/server/domain/pick/repository/PickRepositoryTest.java
Labels: domain : pick

#62 [FEAT] 아카이브 상세 조회 #56
  src/main/java/com/munecting/server/domain/archive/controller/ArchiveController.java
  src/main/java/com/munecting/server/domain/archive/dto/get/ArchiveDetailRes.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryImpl.java
  src/main/java/com/munecting/server/domain/member/DTO/get/MemberRankRes.java
  src/main/java/com/munecting/server/domain/member/controller/MemberController.java
  src/main/java/com/munecting/server/domain/member/entity/Member.java
  src/main/java/com/munecting/server/domain/member/repository/MemberRepositoryCustom.java
  src/main/java/com/munecting/server/domain/member/repository/MemberRepositoryImpl.java
  src/main/java/com/munecting/server/domain/member/service/MemberService.java
  src/main/java/com/munecting/server/domain/pick/controller/PickController.java
  src/main/java/com/munecting/server/domain/pick/dto/get/PickDetailRes.java
  src/main/java/com/munecting/server/domain/pick/repository/PickRepositoryCustom.java
  src/main/java/com/munecting/server/domain/pick/repository/PickRepositoryImpl.java
  src/main/java/com/munecting/server/domain/pick/service/PickService.java
  src/test/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryImplTest.java
  src/test/java/com/munecting/server/domain/member/repository/MemberRepositoryTest.java
  src/test/java/com/munecting/server/domain/member/service/MemberServiceTest.java
  src/test/java/com/munecting/server/domain/pick/repository/PickRepositoryTest.java
Labels: domain : archive

#63 [FEAT] 아카이브 삭제 #10
  src/main/java/com/munecting/server/domain/archive/controller/ArchiveController.java
  src/main/java/com/munecting/server/domain/archive/dto/get/ArchiveDetailRes.java
  src/main/java/com/munecting/server/domain/archive/entity/Archive.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryImpl.java
  src/main/java/com/munecting/server/domain/archive/service/ArchiveService.java
  src/main/java/com/munecting/server/domain/member/DTO/get/MemberRankRes.java
  src/main/java/com/munecting/server/domain/member/controller/MemberController.java
  src/main/java/com/munecting/server/domain/member/entity/Member.java
  src/main/java/com/munecting/server/domain/member/repository/MemberRepositoryCustom.java
  src/main/java/com/munecting/server/domain/member/repository/MemberRepositoryImpl.java
  src/main/java/com/munecting/server/domain/member/service/MemberService.java
  src/main/java/com/munecting/server/domain/pick/controller/PickController.java
  src/main/java/com/munecting/server/domain/pick/dto/get/PickDetailRes.java
  src/main/java/com/munecting/server/domain/pick/repository/PickRepositoryCustom.java
  src/main/java/com/munecting/server/domain/pick/repository/PickRepositoryImpl.java
  src/main/java/com/munecting/server/domain/pick/service/PickService.java
  src/test/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryImplTest.java
  src/test/java/com/munecting/server/domain/member/repository/MemberRepositoryTest.java
  src/test/java/com/munecting/server/domain/member/service/MemberServiceTest.java
  src/test/java/com/munecting/server/domain/pick/repository/PickRepositoryTest.java
Labels: domain : archive

#64 [FEAT] pick 삭제 #11
  src/main/java/com/munecting/server/domain/archive/controller/ArchiveController.java
  src/main/java/com/munecting/server/domain/archive/dto/get/ArchiveDetailRes.java
  src/main/java/com/munecting/server/domain/archive/entity/Archive.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryImpl.java
  src/main/java/com/munecting/server/domain/archive/service/ArchiveService.java
  src/main/java/com/munecting/server/domain/member/DTO/get/MemberRankRes.java
  src/main/java/com/munecting/server/domain/member/controller/MemberController.java
  src/main/java/com/munecting/server/domain/member/entity/Member.java
  src/main/java/com/munecting/server/domain/member/repository/MemberRepositoryCustom.java
  src/main/java/com/munecting/server/domain/member/repository/MemberRepositoryImpl.java
  src/main/java/com/munecting/server/domain/member/service/MemberService.java
  src/main/java/com/munecting/server/domain/pick/controller/PickController.java
  src/main/java/com/munecting/server/domain/pick/dto/get/PickDetailRes.java
  src/main/java/com/munecting/server/domain/pick/entity/Pick.java
  src/main/java/com/munecting/server/domain/pick/repository/PickRepositoryCustom.java
  src/main/java/com/munecting/server/domain/pick/repository/PickRepositoryImpl.java
  src/main/java/com/munecting/server/domain/pick/service/PickService.java
  src/test/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryImplTest.java
  src/test/java/com/munecting/server/domain/member/repository/MemberRepositoryTest.java
  src/test/java/com/munecting/server/domain/member/service/MemberServiceTest.java
  src/test/java/com/munecting/server/domain/pick/repository/PickRepositoryTest.java
Labels: domain : pick

#66 [FEAT] 픽 상세 수정 #12
  src/main/java/com/munecting/server/domain/archive/controller/ArchiveController.java
  src/main/java/com/munecting/server/domain/archive/dto/get/ArchiveDetailRes.java
  src/main/java/com/munecting/server/domain/archive/entity/Archive.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryImpl.java
  src/main/java/com/munecting/server/domain/archive/service/ArchiveService.java
  src/main/java/com/munecting/server/domain/member/DTO/get/MemberRankRes.java
  src/main/java/com/munecting/server/domain/member/controller/MemberController.java
  src/main/java/com/munecting/server/domain/member/entity/Member.java
  src/main/java/com/munecting/server/domain/member/repository/MemberRepositoryCustom.java
  src/main/java/com/munecting/server/domain/member/repository/MemberRepositoryImpl.java
  src/main/java/com/munecting/server/domain/member/service/MemberService.java
  src/main/java/com/munecting/server/domain/pick/controller/PickController.java
  src/main/java/com/munecting/server/domain/pick/dto/get/PickDetailRes.java
  src/main/java/com/munecting/server/domain/pick/dto/patch/PickChangeReq.java
  src/main/java/com/munecting/server/domain/pick/entity/Pick.java
  src/main/java/com/munecting/server/domain/pick/repository/PickRepositoryCustom.java
  src/main/java/com/munecting/server/domain/pick/repository/PickRepositoryImpl.java
  src/main/java/com/munecting/server/domain/pick/service/PickService.java
  src/test/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryImplTest.java
  src/test/java/com/munecting/server/domain/member/repository/MemberRepositoryTest.java
  src/test/java/com/munecting/server/domain/member/service/MemberServiceTest.java
  src/test/java/com/munecting/server/domain/pick/repository/PickRepositoryTest.java
Labels: domain : pick

#68 [FEAT] CI/CD 구축 #55
  .github/workflows/gradle.yml
  appspec.yml
  build.gradle
  scripts/health_check.sh
  scripts/run_new_was.sh
  scripts/start.sh
  scripts/stop.sh
  scripts/switch.sh
  src/main/java/com/munecting/server/domain/HelloWorld.java
  src/main/java/com/munecting/server/domain/member/controller/MemberController.java
  src/main/java/com/munecting/server/domain/member/service/MemberService.java
Labels: release

#70 {FEAT] youtube & reply #18
  build.gradle
  src/main/java/com/munecting/server/domain/archive/entity/Archive.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepository.java
  src/main/java/com/munecting/server/domain/member/entity/Member.java
  src/main/java/com/munecting/server/domain/member/repository/MemberRepository.java
  src/main/java/com/munecting/server/domain/music/controller/MusicController.java
  src/main/java/com/munecting/server/domain/music/dto/get/YoutubeApiRes.java
  src/main/java/com/munecting/server/domain/music/entity/Music.java
  src/main/java/com/munecting/server/domain/music/service/MusicService.java
  src/main/java/com/munecting/server/domain/music/service/YoutubeService.java
  src/main/java/com/munecting/server/domain/reply/controller/ReplyController.java
  src/main/java/com/munecting/server/domain/reply/dto/post/ReplyRequestDTO.java
  src/main/java/com/munecting/server/domain/reply/entity/Reply.java
  src/main/java/com/munecting/server/domain/reply/repository/ReplyRepository.java
  src/main/java/com/munecting/server/domain/reply/service/ReplyService.java
Labels: Entity, global : util, domain : reply

#72 [FIX] music 엔터티 변수명 변경으로 인한 오류 #71
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryImpl.java
Labels: domain : archive

#75 [FEAT] 멤버 조회 토큰으로 변경 #73
  src/main/java/com/munecting/server/domain/archive/controller/ArchiveController.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepositoryImpl.java
  src/main/java/com/munecting/server/domain/archive/service/ArchiveService.java
  src/main/java/com/munecting/server/domain/music/controller/MusicController.java
  src/main/java/com/munecting/server/domain/music/dto/post/UploadMusicReq.java
  src/main/java/com/munecting/server/domain/pick/controller/PickController.java
  src/main/java/com/munecting/server/domain/pick/dto/post/PickReq.java
  src/main/java/com/munecting/server/domain/pick/service/PickService.java
  src/test/java/com/munecting/server/domain/archive/service/ArchiveServiceTest.java
Labels: domain : music, domain : archive, domain : pick

#80 [FEAT] 비밀번호 변경 및 카카오 로그인 #79
  src/main/java/com/munecting/server/domain/member/controller/SocialLoginController.java
  src/main/java/com/munecting/server/domain/member/service/LoginService.java
Labels: domain : member, global : util

#78 [FEAT] reply 수정#74
  src/main/java/com/munecting/server/domain/archive/controller/ArchiveController.java
  src/main/java/com/munecting/server/domain/archive/entity/Archive.java
  src/main/java/com/munecting/server/domain/archive/repository/ArchiveRepository.java
  src/main/java/com/munecting/server/domain/archive/service/ArchiveService.java
  src/main/java/com/munecting/server/domain/member/DTO/MemberDTO.java
  src/main/java/com/munecting/server/domain/member/entity/Member.java
  src/main/java/com/munecting/server/domain/member/repository/MemberRepository.java
  src/main/java/com/munecting/server/domain/member/service/LoginService.java
  src/main/java/com/munecting/server/domain/member/service/SocialLoginService.java
  src/main/java/com/munecting/server/domain/music/controller/MusicController.java
  src/main/java/com/munecting/server/domain/music/repository/MusicRepository.java
  src/main/java/com/munecting/server/domain/reply/controller/ReplyController.java
  src/main/java/com/munecting/server/domain/reply/dto/post/ReplyRequestDTO.java
  src/main/java/com/munecting/server/domain/reply/repository/ReplyRepository.java
  src/main/java/com/munecting/server/domain/reply/service/ReplyService.java
  src/main/java/com/munecting/server/global/config/BaseResponse.java
Labels: domain : reply
